                        * {
                            padding: 0;
                            margin: 0;
                            box-sizing: border-box;
                        }
                        
                        html {
                            scroll-behavior: smooth;
                        }
                        /*  globalstyle */
                        
                         :root {
                            --main-color: #D9E9F3;
                            --main-heading-color: #477C9E;
                            --text-color: #252525;
                            --main-backgroound-color: #F2F8FC;
                            --hovre-color: #7AC6F6;
                            --main-transition: all .7s linear;
                        }
                        
                        .mainTitle {
                            color: #477C9E;
                            font-size: 20px;
                            letter-spacing: 1.5px;
                            font-weight: 500;
                            text-transform: capitalize;
                        }
                        /*End  globalstyle */
                        /* sections styling */
                        /* logo */
                        
                        #logo {
                            font-family: "Sofia", sans-serif;
                            color: #477C9E;
                            font-size: 20px;
                            letter-spacing: 1.5px;
                            font-weight: 700;
                        }
                        
                        li.nav-item a {
                            color: var(--text-color) !important;
                            transition: var(--main-transition);
                            border-bottom: 1px solid rgb(191, 190, 190);
                        }
                        
                        li.nav-item a:hover {
                            color: var(--hovre-color) !important;
                            font-weight: 600;
                            font-size: 18px;
                            border-bottom: 1px solid var(--hovre-color);
                        }
                        
                        .active {
                            color: var(--hovre-color) !important;
                            font-weight: 600;
                            font-size: 18px;
                            border-bottom: 1px solid var(--hovre-color);
                        }
                        
                        .landing {
                            margin: 50px 0 !important;
                            justify-content: center;
                            align-items: center;
                        }
                        
                        .f-l {
                            color: var(--main-heading-color);
                        }
                        
                        .s-l {
                            color: var(--text-color);
                        }
                        
                        .f-l,
                        .s-l {
                            font-size: 2em;
                            font-family: "Sofia", sans-serif;
                            font-size: 30px;
                        }
                        
                        .landing .btn-outline-primary {
                            letter-spacing: 1.4px;
                            text-transform: capitalize;
                            font-weight: 700;
                            transition: var(--main-transition) !important;
                        }
                        
                        .landing .btn-outline-primary:focus {
                            background-color: #7AC6F6 !important;
                            outline: none !important;
                            border: none !important;
                        }
                        
                        .navbar-toggler {
                            background-color: var(--main-heading-color) !important;
                        }
                        
                        .ulNav {
                            display: flex !important;
                            justify-content: end !important;
                            align-items: center !important
                        }
                        /*  servese */
                        
                        #servese {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: var(--main-color);
                            padding: 10%;
                            flex-direction: column;
                        }
                        
                        .servTitle h2 {
                            color: var(--main-heading-color);
                        }
                        
                        .container {
                            display: flex !important;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                        }
                        /*  addtion section  */
                        
                        #addtionSection {
                            padding: 10% 4%;
                        }
                        
                        #addtionSection a.btn {
                            color: var(--hovre-color);
                            letter-spacing: 1.4px;
                            font-weight: 500;
                            /* transition: var(--main-transition); */
                        }
                        
                        #addtionSection a.btn:hover {
                            font-size: 18px !important;
                            padding: 1%;
                            margin: 1%;
                            font-weight: 700;
                            border-bottom: 1px solid #7AC6F6;
                        }
                        
                        #addtionSection .petaddition {
                            display: flex !important;
                            justify-content: center !important;
                            align-items: center !important;
                        }
                        
                        #addtionSection .petaddition .card {
                            border-radius: 7px;
                            box-shadow: #6f6f6f 2px 2px 3px, #6f6f6f -2px -2px 3px;
                            transition: var(--main-transition);
                            cursor: pointer;
                            background-color: var(--main-backgroound-color) !important;
                            border: none !important;
                            margin: 2%;
                        }
                        
                        #addtionSection .petaddition img {
                            transition: var(--main-transition);
                        }
                        
                        #addtionSection .petaddition .card:hover img {
                            border-radius: 50% 50%;
                            box-shadow: #6f6f6f 2px 2px 3px, #6f6f6f -2px -2px 3px;
                            padding: 2%;
                        }
                        
                        .card-body p {
                            margin: 1%;
                            padding: 1%;
                            font-weight: 600 !important;
                            /* font-size: 23px; */
                            text-transform: capitalize;
                            letter-spacing: 1.2px;
                        }
                        
                        .card span {
                            font-size: 14px;
                            font-weight: lighter;
                        }
                        
                        .showMOre {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: wrap;
                            /* display: none; */
                        }
                        /* gallary */
                        
                        #gallary {
                            padding: 10% 4%;
                        }
                        
                        #gallary .showMOre div,
                        #gallary .row div {
                            display: flex !important;
                            justify-content: center;
                            align-items: center;
                        }
                        
                        #gallary .showMOre div img,
                        #gallary .row div img {
                            display: flex !important;
                            justify-content: center;
                            align-items: center;
                            transition: var(--main-transition);
                        }
                        
                        #gallary .showMOre div:hover img,
                        #gallary .row div:hover img {
                            border-radius: 50% 50%;
                            box-shadow: #4d4c4c 2px 2px 10px, #575656 -2px -2px 10px;
                            transform: scale(1.2, 1);
                        }
                        /*  supplies */
                        
                        #supplies .suppliescards {
                            display: flex !important;
                            justify-content: center !important;
                            align-items: center !important;
                            flex-wrap: wrap;
                        }
                        
                        #supplies .suppliescards .card {
                            margin: 2%;
                            padding: 2%;
                        }
                        
                        #supplies .suppliescards .card img {
                            transition: var(--main-transition);
                        }
                        
                        #supplies .suppliescards .card :hover img {
                            border-radius: 50% 50%;
                            box-shadow: #4d4c4c 2px 2px 10px, #575656 -2px -2px 10px;
                            transform: scale(1.2, 1.2) translatey(-20px);
                            padding: 2%;
                        }
                        /* footer */
                        
                        #contact {
                            margin: 30% 0 0 0;
                            padding: 4% 0 0 0;
                            position: relative;
                            /* overflow: hidden; */
                        }
                        
                        footer {
                            background-image: url(../footer/Vector\ 1.png);
                            min-height: 150px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        
                        .catF {
                            position: absolute;
                            left: 0%;
                            bottom: 0%;
                            z-index: -1;
                            transform: translate(9%, -50%);
                        }
                        
                        footer .footcenter a {
                            transform: translateY(20px);
                            padding: 2% 0;
                            transition: var(--main-transition);
                        }
                        
                        footer .footcenter a:hover {
                            padding: 2% !important;
                            color: #477C9E;
                            font-weight: 600;
                            text-decoration: underline;
                        }
                        
                        footer .followus,
                        footer .callus {
                            font-weight: 500;
                            font-size: 20px;
                        }
                        
                        footer .aws {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            transition: var(--main-transition);
                        }
                        
                        footer .aws div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: var(--hovre-color);
                            border-radius: 50% 50%;
                            transition: var(--main-transition);
                        }
                        
                        footer .aws div:hover {
                            box-shadow: #979797 2px 2px 10px, #6f6f6f -2px -2px 10px;
                            margin: 2%;
                            padding: 2%;
                            transform: scale(1.3, 1.3);
                        }
                        
                        footer .aws i {
                            transition: var(--main-transition);
                        }
                        
                        footer .aws i:hover {
                            padding: 2% !important;
                            color: #0683d0;
                            font-size: 20px;
                            margin: 2%;
                        }
                        /*  scroll btn */
                        
                        .scroll {
                            border-radius: 3px;
                            background-color: #0683d0;
                            color: white;
                            padding: .4%;
                            transition: var(--main-transition);
                        }
                        
                        .scroll:hover {
                            border-radius: 50%;
                            background-color: #d3d0d0;
                            color: #252525;
                            font-weight: 600;
                            transform: scale(1.3, 1.3);
                            box-shadow: #979797 2px 2px 10px, #6f6f6f -2px -2px 10px;
                        }
                        /*animation   */
                        
                        @keyframes flip {
                            0% {
                                transform: translateY(0px);
                            }
                            100% {
                                transform: translateY(40px);
                            }
                        }
                        
                        img.flip {
                            animation: flip 2s infinite alternate;
                            backface-visibility: hidden;
                        }